* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Verdana, sans-serif;
    background-color: #d6d8d89f;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;   
}

li {
    padding: 3px;
    margin: 10px 15px;
    font-size: 15px;
}

a {
    padding: 3px 10px;
    color: #000;
    text-decoration: none;
}

.container {
    text-align: center;
}

.card {
    background-color: #660606d7;
    padding: 8px;
}

.title {
    background-color: #660606d7;
    color: #f5f5dc;
    padding: 10px 0;
    margin: 10px auto;
}

.heading {
    margin: 10px;
    font-size: 20px;
}

.paragraph {
    margin: 10px;
}

.menu {
    background-color: #660606;
    padding: 10px;
    margin-top: 5px;
}

.menu-list {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #f5f5dc;
    display: inline-block;
}

.ingredients, .directions {
    background-color: #f5f5dc;
    margin: 3px;
}

.ingredients h4, .directions h4 {
    padding: 10px 0;
}

.ingredients ul, .directions ol {
    padding-bottom: 20px;
    margin-left: 20px;
    text-align: justify;
}

.ingredients li, .directions li {
    margin: 0 20px;
}

.return  {
    margin: 20px;
}

.return-link {
    margin: 20px;
    padding: 8px;
    background-color: #660606;
    color: #f5f5dc;
}
